
@{
    ViewBag.Title = "AdminSide";
}

<h2>Velkommen Mr.Admin</h2>
<a href="/Home/InnLoggetSide" class="btn btn-success">Endre reiser</a>
<a href="/Home/InnLoggetSideKunde" class="btn btn-primary">Endre kunder</a>
<a href="/Home/InnLoggetSideDestinasjon" class="btn btn-warning">Endre Destinasjoner</a>

