@model List<WebApplication2.Model.destinasjoner>




@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script type="text/javascript">
  

    ////JQ
   /* $("#registrer").click(function () {

        // bygg et js objekt fra input feltene
        var jsInn = {
            hjemreise: $("#hjemreise").val(),
            utreise: $("#utreise").val(),
            turtid: $("#turtid").val(),
            returtid: $("#returtid").val(),
            antall: $("#antall").val(),
            $("#returtid").val()
        }
    $.ajax({
        url: '/Kunde/Register',
        type: 'POST',
        data: JSON.stringify(jsInn),
        contentType: "application/json;charset=utf-8",
        success: function (ok) {
            // kunne ha feilhåndtert evt. feil i registreringen her
            window.location.reload();
            // reload av vinduet må sje her altså etter at kallet har returnert
        },
        error: function (x, y, z) {
            alert(x + '\n' + y + '\n' + z);
        }
    });*/
     $(function () {

            // hent alle Flyplassene, lag dropdown1 når siden lastes

            $.ajax({
                url: '/Home/HentFlyplass',
                type: 'GET',
                dataType: 'json',
                success: function (fraListe) {
                    VisDropDown1(fraListe);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

        function VisDropDown1(fraListe) {

                var utStreng = "<option value=''></option>";
                for (var i in fraListe) {
            utStreng += "<option value='" + fraListe[i] + "'>" + fraListe[i] + "</option>";
        }
                $("#from").empty().append(utStreng);
            }

           // opprett en hendelse på dropdown-listen fraFlyplass når siden lastes
            $.ajax({
            url: '/Home/HentFlyplass',
                    type: 'GET',
                    dataType: 'json',
                    success: function (tilListe) {
            VisDropDown2(tilListe);
        },
                    error: function (x, y, z) {
            alert(x + '\n' + y + '\n' + z);
        }
                });
            });

            function VisDropDown2(tilListe) {
                var utStreng = "<option value=''></option>";
                for (var i in tilListe) {
            utStreng += "<option value='" + tilListe[i] + "'>" + tilListe[i] + "</option>";
        }
                $("#to").empty().append(utStreng);
    }

             // opprett en hendelse på dropdown-listen valgtFlyplass når siden lastes
            function hentPris() {
                $.ajax({
                    url: '/Home/HentPris',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        fraDest: $("#from").val()
                    },
                    cache: false,
                    success: function (hentetDest) {
                        VisPris(hentetDest);
                        alert(hentetdest);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    },
                });
            }
            function VisPris(hentetDest) {
                    var utStreng = "";

                    for (var i in hentetDest) {
                        utStreng += "";
                    }

                    $("#valgteDest").append(utStreng);
                }

   

    ////JavaScript
    var valKontrollTil = false;
    var valKontrollFra = false;
    var valDatoTil = false;
    var valDatoFra = false;
    var skjult = false;
    //Skjuler Hjemreise når enkeltreise velges
    function skjul() {
        var x = document.getElementById("HjemReise").style.display = 'none';
        skjult = true;

    }

    //Viser Hjemreise når tur/retur velges
    function vis() {
        var x = document.getElementById("HjemReise").style.display = 'block';
        skjult = false;

    }
    // Plusser på antall voksne
    function voksenMinus() {
        var voksne = document.getElementById("voksen").value;
        if (voksne > 1) {
            var sum = parseInt(voksne) - 1;
            document.getElementById("voksen").value = sum;
        }
    }

    // trekker fra antall voksne
    function voksenPluss() {
        var voksne = document.getElementById("voksen").value;
        if (voksne < 9) {
            var sum = parseInt(voksne) + 1;
            document.getElementById("voksen").value = sum;
        }

    }
    // trekker fra antall barn
    function barnMinus() {
        var barn = document.getElementById("barn").value;
        if (barn > 0) {
            var sum = parseInt(barn) - 1;
            document.getElementById("barn").value = sum;
        }

    }

    // Plusser på antall barn
    function barnPluss() {
        var barn = document.getElementById("barn").value;
        if (barn < 9) {
            var sum = parseInt(barn) + 1;
            document.getElementById("barn").value = sum;
        }

    }
    // viser alternative for å legge til barn når knappen trykkes
    function visBarn() {
        var display = document.getElementById("barnDisplay").style;
        display.display = 'block';
        document.getElementById("leggTilBarn").style.visibility = "hidden";

    }


    function datoSjekkUtreise(dato) {
        var inputUtreise = document.getElementById("utreiseDato");
        var inputHjemreise = document.getElementById("hjemDato");
        var valUtreise = document.getElementById("valideringUtreise");
        var valHjemreise = document.getElementById("valideringHjemreise");
        var date = new Date();
        var idag = new Date(dato);
        idag.setHours(0, 0, 0, 0);

        if (date > idag) {
            alert("Dato ikke gyldig!");
        var dagenIdag = date.toISOString().slice(0, 10).replace(/-/g, "-");
            document.getElementById("utreiseDato").value = dagenIdag;
        }
        inputUtreise.style.borderColor = "Green";
        valUtreise.style.color = "Green";
        valUtreise.innerHTML = "✓";
        inputHjemreise.style.borderColor = "Green";
        valHjemreise.style.color = "Green";
        valHjemreise.innerHTML = "✓"

        idag.setDate(idag.getDate() + 8);
        var dagens = idag.toISOString().slice(0, 10).replace(/-/g, "-");
        document.getElementById("hjemDato").value = dagens;
        valDatoTil = true;
        valDatoFra = true;
    }

    function datoSjekkHjemreise(dato) {
        var date = new Date();
        var idag = new Date(dato);
        idag.setHours(0, 0, 0, 0);
        var utreiseDato = document.getElementById("utreiseDato").value;
        var dagens = idag.toISOString().slice(0, 10).replace(/-/g, "-");
        var valDatoFra = true;


        if (date > idag || dagens < utreiseDato) {
            alert("Dato ikke gyldig!");
        document.getElementById("hjemDato").value = utreiseDato;

        }

    }
    function valideringTil(til) {
        var input = document.getElementById("from");
        var val = document.getElementById("valideringFra");
        var ToInput = document.getElementById("to");

        if (til == ToInput.value) {

            input.style.borderColor = "Red";
        val.style.color = "Red";
            val.innerHTML = "Vennligst velg noe annet enn " + ToInput.value;
            valKontrollTil = false;
        }

        else if (til == "Oslo" || til == "Trondheim" || til == "Bergen"
            || til == "Stavanger" || til == "Tromsø" || til == "Torp") {
            input.style.borderColor = "Green";
        val.style.color = "Green";
            val.innerHTML = "✓";
            valKontrollFra = true;
        }

        else {
            document.getElementById("from").style.borderColor = "Red";
        val.innerHTML = "Vennligst velg en av destinasjonene i listen";
            val.style.color = "Red";
            valKontrollFra = false;
        }

        var flyplasser = [];

        //document.getElementById("test").innerHTML = pris;
    }
    function valideringFra(fra) {
        var input = document.getElementById("to");
        var fromInput = document.getElementById("from");
        var val = document.getElementById("valideringTil");

        if (fra == fromInput.value) {
            document.getElementById("to").style.borderColor = "Red";

        val.innerHTML = "Vennligst velg noe annet enn " + fra;
            val.style.color = "Red";
            valKontrollTil = false;
        }
        else if (fra == "Oslo" || fra == "Trondheim" || fra == "Bergen"
            || fra == "Stavanger" || fra == "Tromsø" || fra == "Torp") {
            input.style.borderColor = "Green";
        val.style.color = "Green";
            val.innerHTML = "✓";
            valKontrollTil = true;
        }

        else {
            document.getElementById("to").style.borderColor = "Red";

        val.innerHTML = "Vennligst velg en av destinasjonene i listen";
            val.style.color = "Red";
            valKontrollTil = false;
        }

    }

    // funksjoner for å vise tabellen over billetter
    function sokFlybilletter() {
        if (valKontrollFra == true && valKontrollTil == true
            && valDatoFra == true && valDatoTil == true) {
            var fra = document.getElementById("from").value;
            var til = document.getElementById("to").value;
            var utReise = document.getElementById("utreiseDato").value;
            var hjemReise = document.getElementById("hjemDato").value;
            var antallVoksne = document.getElementById("voksen").value;
            var antallBarn = document.getElementById("barn").value;
            document.getElementById("varsel").innerHTML = "";
            document.getElementById("1").innerHTML = fra;
            document.getElementById("2").innerHTML = til;
            document.getElementById("3").innerHTML = utReise;
            if (skjult == true)
            {
            document.getElementById("4").innerHTML = "Ingen Hjemreise"
        }
        else
            {
            document.getElementById("4").innerHTML = hjemReise;
        }
            document.getElementById("5").innerHTML = parseInt(antallVoksne) + parseInt(antallBarn);
            document.getElementById("6").innerHTML = (999 * parseInt(antallVoksne)) + (499 * parseInt(antallBarn)) + ",-";
            //
            document.getElementById("varsel").innerHTML = "";
            document.getElementById("11").innerHTML = fra;
            document.getElementById("12").innerHTML = til;
            document.getElementById("13").innerHTML = utReise;
            if (skjult == true) {
            document.getElementById("14").innerHTML = "Ingen Hjemreise"
        }
        else {
            document.getElementById("14").innerHTML = hjemReise;
        }
            document.getElementById("15").innerHTML = parseInt(antallVoksne) + parseInt(antallBarn);
            document.getElementById("16").innerHTML = (699 * parseInt(antallVoksne)) + (399 * parseInt(antallBarn)) + ",-";
            //
            document.getElementById("flyReiser").style.display = 'block';
        }

        if (valKontrollFra == false || valKontrollTil == false) {
            document.getElementById("varsel").innerHTML = "Obligatoriske feltet for destinasjon mangler! ";
        document.getElementById("varsel").style.color = "red";
        }

        if (valDatoTil == false || valDatoFra == false ) {
            document.getElementById("varsel").innerHTML = "Obligatoriske felt for ' Dato' mangler! ";
            document.getElementById("varsel").style.color = "red";

        }
        

        

    }

</script>

<h2>Kjøp flybillett</h2>

@using (Html.BeginForm("lagreReise", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h4 class="control-label col-md-2">Fra</h4>
            <div class="col-md-3">
                <select id="from" class="form-control" onchange="valideringTil(this.value); hentPris();" >
                    <!--<option value=""></option>
                    <option value="Trondheim">Trondheim</option>
                    <option value="Oslo">Oslo</option>
                    <option value="Bergen">Bergen</option>
                    <option value="Stavanger">Stavanger</option>
                    <option value="Tromsø">Tromsø</option>-->
                </select>
            </div>
            <h5 id="valideringFra"></h5>
        </div>
        <div class="form-group">
            <h4 class="control-label col-md-2">Til</h4>
            <div class="col-md-3">  
                <select id="to" class="form-control" onchange="valideringFra(this.value)">
                 <!--  <option value=""></option>
                    <option value="Trondheim">Trondheim</option>
                    <option value="Oslo">Oslo</option>
                    <option value="Bergen">Bergen</option>
                    <option value="Stavanger">Stavanger</option>
                    <option value="Tromsø">Tromsø</option> -->
                </select>
            </div>
            <h5 id="valideringTil"></h5>
        </div>

       
        <div class="form-group">
            <div class="control-label col-md-2">
                <h4>
                    Tur/retur <input type="radio" name="reiseType" checked="checked" onclick="vis()" />
                </h4>
            </div>
            <div class="control-label col-md-2">
                <h4>
                    Enkelreise <input type="radio" name="reiseType" class="" onclick="skjul()" />
                </h4>
            </div>

        </div>

        <div class="form-group">
            <h4 class="control-label col-md-2">Utreise</h4>
            <div class="col-md-3">
                <input id="utreiseDato" type="date" name="utreise" class="form-control" min="2017-10-03" onchange="datoSjekkUtreise(this.value)" />
            </div>
            <h5 id="valideringUtreise"></h5> 
        </div>

        <div id="HjemReise" class="form-group" style=" display:block">
            <h4 class="control-label col-md-2">Hjemreise</h4>
            <div class="col-md-3">
                <input id="hjemDato" type="date" name="hjemreise" class="form-control" min="2017-10-03" onchange="datoSjekkHjemreise(this.value)" />
            </div>
            <h5 id="valideringHjemreise"></h5>
        </div>

        <div class="form-group">
            <h4 class="control-label col-md-2">
                <Strong>Reisende:</Strong>
            </h4>
        </div>
        <div class="form-group">
            <h4 class="control-label col-md-2">
                Voksen:
            </h4>
            <div class="col-md-1">
                <input id="voksen" type="text" name="Antall" class="form-control" value="1"  readonly/>
            </div>
            <input type="button" class="btn-danger" onclick="voksenMinus()" value="-" />
            <input type="button" class="btn-success" onclick="voksenPluss()" value="+" />
            <input id="leggTilBarn" type="button" class="btn-warning" onclick="visBarn()" value="Legg til barn" />
        </div>
        <div class="form-group" id="barnDisplay" style="display:none">
            <h4 class="control-label col-md-2">
                Barn(0-13):
            </h4>
            <div class="col-md-1">
                <input id="barn" type="number" name="antall_barn" class="form-control" value="0" readonly />
            </div>
            <input type="button" class="btn-danger" onclick="barnMinus()" value="-" />
            <input type="button" class="btn-success" onclick="barnPluss()" value="+" />
        </div>
        
        <div class="form-group">
            <div >
                <h5 id="varsel"></h5>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Søk billetter" class="btn btn-success" onclick="sokFlybilletter()" />
            </div>
        </div>
    </div>
}
   


<div id="flyReiser" class="container" style="display:none">
    <h2>Velg reise:</h2>
    <div class="table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <th>Fra</th>
                    <th>Til</th>
                    <th>Utreise</th>
                    <th>Hjemreise</th>
                    <th>Klokkeslett</th>
                    <th>Antall person</th>
                    <th>Pris</th>

                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td id="1"></td>
                    <td id="2"></td>
                    <td id="3"></td>
                    <td id="4"></td>
                    <td id="7">14:00</td>
                    <td id="5"></td>
                    <td id="6"></td>
                    <td><button id ="knapp1" class="btn-success" onclick="sendVidere1()">Kjøp</button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td id="11"></td>
                    <td id="12"></td>
                    <td id="13"></td>
                    <td id="14"></td>
                    <td id="17">20:30</td>
                    <td id="15"></td>
                    <td id="16"></td>
                    <td><button id ="knapp2" class="btn-success" onclick="sendVidere2()">Kjøp</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        


